body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
a:hover {
  color: #404bbf;
}
a:focus {
  color: #404bbf;
}
.menu-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-style: normal;
}
.info-mail{
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


.span .logo-studio{
  color: #2e2f42;
}
.list-bar{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-adres{
  font-style: normal;

}
.section-one{
  background-color: #2e2f42;
}
.hero-banner {
  font-family: "raleway", sans-serif;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

}
.banner-button{
  color:#ffffff;
    background-color:#4D5AE5;
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    }
    
.banner-button:hover:hover{
  background-color: #404BBF;
  }
  .banner-button:focus:focus {
    background-color: #404BBF;
  }
.title-p{
  font-family: 'Roboto',sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455
}
/* Genel h3 başlık stili */
h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Eğer bir sınıfla özelleştirilmiş h3 varsa */
.title-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Eğer h3, .image-image içinde kullanılıyorsa */
.image-image h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-image {
  background-color: #F4F4FD;
  list-style-type: none;
}


.middle-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
 }

 .image-image {
  background-color: #FFFFFF;
}
.image-image .h3{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p{
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
}
.footer{
  color: #2e2f42;
  background-color: #2E2F42;
}
.footer-p{
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
}
.logo-studio-footer{
  font-family: "Relaway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
