body {
  font-family: "Roboto", sans-serif !important;
  background-color: #ffffff!important ;
  color: #434455 !important;
}
a:hover {
  color: #404bbf !important;
}
a:focus {
  color: #404bbf !important;
}
.menü-menü{
  color: #2e2f42 !important;
}

.menu-logo {
  font-family: "Raleway", sans-serif !important ;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 1.17 !important ;
  letter-spacing: 0.03em !important;
  text-transform: uppercase !important;
  color: #4d5ae5 !important;
  font-style: normal !important;
  
}
.logo-studio{
  color: #2e2f42 !important;
}


.info-mail {
  color: #2e2f42 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
  color: #434455 !important;
}

.list-bar {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
  color: #2e2f42 !important;
}

.menu-adres {
  font-style: normal !important;
}
.section-one {
  background-color: #2e2f42 !important;
}
.hero-banner {
  font-family: "raleway", sans-serif !important;
  font-size: 56px !important;
  line-height: 1.07 !important;
  text-align: center !important;
  letter-spacing: 0.02em !important;
  color: #ffffff;
}
.banner-button {
  color: #ffffff !important;
  background-color: #4d5ae5 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.04em !important;
  cursor: pointer !important;
}

.banner-button:hover:hover {
  background-color: #404bbf;
}
.banner-button:focus:focus {
  background-color: #404bbf !important;
}
.title-p {
  font-family: "Roboto", sans-serif !important;
  line-height: 1.5 !important;
  font-size: 16px !important;
  letter-spacing: 0.02em !important;
  color: #434455 !important;
}
.title-title {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 1.2 !important;
  letter-spacing: 0.02em !important;
  color: #2e2f42 !important;
}
.image-image .h3 {
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 1.2 !important;
  letter-spacing: 0.02em !important;
  background-color: #f4f4fd !important;
  color: #2e2f42 !important;
  list-style-type: none !important;
}

.middle-title {
  font-size: 36px !important;
  line-height: 1.11 !important;
  text-align: center !important;
  letter-spacing: 0.02em !important;
  text-transform: capitalize !important;
  color: #2e2f42 !important;
}

.image-image {
  background-color: #ffffff !important;
}

p {
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
  font-family: "Roboto", sans-serif !important;
}
body {
  font-family: "Roboto", sans-serif !important;
  background-color: #ffffff !important;
  color: #434455 !important;
}
a:hover {
  color: #404bbf !important;
}
a:focus {
  color: #404bbf !important;
}
.menu-logo {
  font-family: "Raleway", sans-serif !important ;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 1.17 !important;
  letter-spacing: 0.03em !important;
  text-transform: uppercase !important;
  color: #4d5ae5 !important;
  font-style: normal !important;
}

.a .span {
  color: #2e2f42!important ;
}
.info-mail {
  color: #2e2f42 !important;
  line-height: 1.5!important ;
  letter-spacing: 0.02em !important;
  color: #434455 !important;
}

.list-bar {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
  color: #2e2f42 !important;
}

.menu-adres {
  font-style: normal !important;
}
.section-one {
  background-color: #2e2f42 !important;
}
.hero-banner {
  font-family: "raleway", sans-serif !important; 
  font-size: 56px !important;
  line-height: 1.07 !important;
  text-align: center !important;
  letter-spacing: 0.02em !important;
  color: #ffffff !important;
}
.banner-button {
  color: #ffffff !important;
  background-color: #4d5ae5 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.04em !important;
  cursor: pointer !important;
}

.banner-button:hover:hover {
  background-color: #404bbf !important;
}
.banner-button:focus:focus {
  background-color: #404bbf !important;
}
.title-p {
  font-family: "Roboto", sans-serif !important;
  line-height: 1.5 !important;
  font-size: 16px !important;
  letter-spacing: 0.02em !important;
  color: #434455 !important;
}
.title-title {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 1.2 !important;
  letter-spacing: 0.02em !important;
  color: #2e2f42 !important;
}
team-name {
  background-color: #f4f4fd!important ;
 }

 .h3 {
  background-color: #f4f4fd!important ;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 1.2 !important;
  letter-spacing: 0.02em !important;
  color: #2e2f42 !important;
}
.middle-title {
  font-size: 36px!important ;
  line-height: 1.11 !important;
  text-align: center !important;
  letter-spacing: 0.02em !important;
  text-transform: capitalize !important;
  color: #2e2f42 !important;
}

.image-image {
  background-color: #ffffff !important;
}

p {
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
  font-family: "Roboto", sans-serif !important;
}
.team-section {
  background-color: #f4f4fd !important;
}
.team-section h3 {
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 1.2 !important;
  letter-spacing: 0.02em !important;
  color: #2e2f42 !important;
}
.footer {
  background-color: #2e2f42 !important;
  font-family: "Relaway", sans-serif !important ; 
  font-size: 18px !important;
  line-height: 1.17 !important;
  letter-spacing: 0.03em !important;
  text-transform: uppercase !important;
  color: #4d5ae5 !important;
}

 .logo-studio-footer{
  color: #2e2f42 !important;
 }
.footer-p {
  line-height: 1.5 !important;
  color: #f4f4fd !important;
  letter-spacing: 0.02em !important;
}
