/* Section Stili */
.my_section {
    background-color: #f4f4fd; /* Arka plan rengi */
}

/* <h2> Etiketi Stilleri */
.my_h2 {
    font-size: 36px; /* Metin boyutu */
    line-height: 1.11; /* Satır aralığı */
    text-align: center; /* Metin hizalaması */
    letter-spacing: 0.02em; /* Harfler arasındaki boşluk */
    text-transform: capitalize; /* İlk harflerin büyük olması */
    color: #2e2f42; /* Metin rengi */
}

/* Liste Elemanları Stili */
.my_list_item {
    /* Liste elemanları için özel stiller buraya eklenebilir */
}

/* <h3> Etiketi Stilleri */
.my_h3 {
    font-weight: 500; /* Yazı kalınlığı */
    font-size: 20px; /* Yazı boyutu */
    line-height: 1.2; /* Satır aralığı */
    letter-spacing: 0.02em; /* Harfler arasındaki boşluk */
    color: #2e2f42; /* Metin rengi */
}

/* <p> Etiketi Stilleri */
.my_paragraph {
    font-size: 16px; /* Yazı boyutu */
    line-height: 1.5; /* Satır aralığı */
    letter-spacing: 0.02em; /* Harfler arasındaki boşluk */
    color: #434455; /* Metin rengi */
}
